.logo {
  height: 6rem;
  width: 6rem;
}

.top-nav {

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    @include set-font(2, 400, 0, .05);
    color: $color-black;
    text-decoration: none;
    cursor: pointer;

    padding: 1rem 3rem;
    box-sizing: border-box;
    position: relative;

    &::after {
      content: "";
      width: 0;
      display: block;
      position: absolute;
      top: 140%;
      border-bottom: .4rem solid $color-secondary;
      border-radius: 5rem;
      transition: width .5s cubic-bezier(.73, .03, .25, .93);
    }

    &:hover {
      &::after {
        content: "";
        width: calc(100% - 6rem);
      }
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__name {
    @include set-font(3.6, 600, 1.6, .65);
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 6rem;

    @media only screen and (max-width: $bp-medium) {
      @include set-font(3.6, 500, 1.4, .25);

    }

    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 4rem;
      line-height: unset;
      text-align: center;
    }
  }

  &__title {
    @include set-font(2.8, 400, 1.6, .25);
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 6rem;

    @media only screen and (max-width: $bp-medium) {
      @include set-font(2.4, 500, 1.2, .15);
    }

  }

  &__social {
    display: flex;
    width: 75%;
    align-content: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
      width: 90%;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .social__item {

    span {
      display: none;
    }

    @media only screen and (max-width: $bp-smallest) {
      display: flex;
      align-items: center;
      //justify-content: center;

      &:not(:last-child) {
        margin-bottom: 6rem;
      }

      span {
        @include set-font(2, 400, 2);
        display: block;

      }
    }
  }

  .social__link {
    @include icons;
    background-color: $color-primary;
    position: relative;
    transition: all .4s;

    @media only screen and (max-width: $bp-smallest) {
      margin-right: 3rem;
    }

    &:hover {
      background-color: $color-white;
      border: .5rem solid $color-primary;
      position: relative;
    }

    svg {
      width: 4rem;
      height: 4rem;
      fill: $color-white;

    }

    &:hover svg {
      fill: $color-primary;
      transition: all .4s;
    }

    //.social__hovered {
    //  position: absolute;
    //  left: 0;
    //  transform: scale(0) translateY(0);
    //}
    //
    //&:hover .social__hovered {
    //  transition: all .5s;
    //  transform: scale(1) translateY(500%);
    //}
  }
}


.career__title {
  @include set-font(2, 500, 1, .15);
  color: $color-white;
  margin-bottom: 4rem;

  h3 {
    @include h3-title-left
  }
}

.career {
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    flex: 0 0 80%;
    max-width: 1000px;
  }

  &__item {
    color: $color-white;
    display: flex;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }
  }


  &__year {
    font-size: 2.4rem;
    flex: 0 0 110px;
    padding-bottom: 3rem;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 80px;
    }

    @media only screen and (max-width: $bp-smallest) {
      flex: 0 0 0;
    }
  }

  &__dot {
    border-radius: 100px;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin-top: .3rem;
    margin-bottom: 3rem;
    background-color: $color-secondary;

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }

  }

  &__details {
    padding-bottom: 3rem;

    display: flex;
    flex-direction: column;
    margin-left: -1.4rem;
    padding-left: 5rem;
    border-left: 3px solid $color-secondary;

    @media only screen and (max-width: $bp-smallest) {
      border-left: 0;
    }

  }

  &__role {
    font-size: 2.4rem;
    color: $color-white;
    margin-bottom: 0.5rem;
  }

  &__location {
    //display: block;
    font-size: 16px;
    margin-bottom: 1.5rem;

  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    flex-grow: 0;
    flex-wrap: wrap;
  }
}

.skills__title {
  @include set-font(2, 500, 1, .15);
  display: flex;
  justify-content: flex-end;

  h3 {
    @include h3-title-right;
    color: $color-white;
    margin-bottom: 4rem;
    min-width: 42rem;
    display: inline-block;
  }
}

.skill {
  display: flex;
  justify-content: center;

  &__container {
    flex: 0 0 80%;
    max-width: 1000px;
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }

  &__name {
    font-size: 1.6rem;
    width: 16rem;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__progress {
    width: 100%;
    position: relative;

    flex: 1 0 70%;
    border-radius: 30px;
    height: 2rem;
    background-color: $color-grey-dark;

    span {
      font-size: 1.6rem;
      position: absolute;
      top: 0;
      right: 1rem;
    }

  }
}

.other-skills__title {
  @include set-font(2, 500, 1, .15);
  display: flex;
  justify-content: flex-end;

  h3 {
    @include h3-title-right;
    color: $color-white;
    margin-bottom: 4rem;
    min-width: 36rem;
    display: inline-block;
  }
}

.other-skill {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 80%;
    max-width: 1000px;
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__name {
    font-size: 1.6rem;
    width: 16rem;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__progress {
    width: 100%;
    position: relative;

    flex: 1 0 70%;
    border-radius: 30px;
    height: 2rem;
    background-color: $color-grey-dark;

    span {
      font-size: 1.6rem;
      position: absolute;
      top: 0;
      right: 1rem;
    }

  }
}

.animate-bar {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $color-primary-light;
  height: 100%;
  --widthEnd: 0;
  animation: progressing 5s ease;
  animation-fill-mode: forwards;
}

@-webkit-keyframes progressing {
  0% {
    width: 0;
  }

  100% {
    width: var(--widthEnd);
  }
}

.testimonials__title {
  @include set-font(2, 500, 1, .15);
  color: $color-white;
  margin-bottom: 4rem;

  h3 {
    @include h3-title-left
  }
}

.testimonial {
  color: $color-white;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 85%;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 100%;
    }
  }

  &__item {
    @include set-font(1.4, 400, 2.4);
    display: flex;
    flex: 0 0 50%;
    padding: 0 3rem 4rem 3rem;
    flex-direction: column;
    min-height: 160px;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 75%;
      min-height: 40px;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    span {
      display: flex;
      justify-content: flex-end;
      padding-top: 3rem;
      font-style: italic;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

.portfolios__title {
  @include set-font(2, 500, 1, .15);
  display: flex;
  justify-content: flex-end;

  h3 {
    @include h3-title-right;
    color: $color-white;
    margin-bottom: 4rem;
    min-width: 36rem;
    display: inline-block;
  }
}

.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__title {
    display: block;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 80%;
  }

  &__photo {
    width: 100%;

  }

  &__icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    width: 100%
  }

  &__icon {
    @include icons;
    background-color: $color-primary;


    svg {
      height: 4rem;
      width: 4rem;
    }
  }
}

.footer {
  position: relative;

  span {
    font-size: 1.4rem;
    text-align: right;
    color: $color-white;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 0 3rem 3rem 0;

    @media only screen and (max-width: $bp-smallest) {
      margin: 0 1rem 1.5rem 0;
    }
  }

  &__container {
    @media only screen and (max-width: $bp-large) {
      background-color: $color-primary;
      height: 4rem;
    }
  }
}
